{extend name='table'}

{block name="button"}
<a data-table-id="QueueTable" class="layui-btn layui-btn-sm layui-btn-primary layui-bg-blue"
    data-queue="{:url('addQueue')}">{:lang('搜索数据更新')}</a>

{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='elastic/index_search'}
    <table id="FileTable" data-url="{:sysuri('index')}" data-target-search="form.form-search"></table>
</div>
{/block}

{block name='script'}
<script>
    $(function () {
        $("#FileTable").layTable({
            even: true,
            height: "full",
            toolbar: '#WordTable',
            cols: [
                [
                    { checkbox: true, fixed: true },
                    { field: "id", title: "ID", width: 80, align: "center", sort: true },
                    {
                        field: "name",
                        title: '{:lang("文件名称")}',
                        width: "20%",
                        align: "center",
                    },

                    {
                        field: "size",
                        title: '{:lang("文件大小")}',
                        align: "center",
                        width: "10%",
                        templet: "<div>{{-$.formatFileSize(d.size)}}</div>",
                    },
                    {
                        field: "xext",
                        title: '{:lang("文件后缀")}',
                        align: "center",
                        width: "10%",
                    },
                    {
                        field: "xurl",
                        title: '{:lang("类型图标")}',
                        width: "7%",
                        align: "center",
                        templet: function (d) {
                            if (typeof d.mime === "string" && /^image\//.test(d.mime)) {
                                return laytpl(
                                    '<div><a target="_blank" data-tips-hover data-tips-image="{{d.xurl}}"><i class="layui-icon layui-icon-picture"></i></a></div>'
                                ).render(d);
                            }
                            if (typeof d.mime === "string" && /^video\//.test(d.mime)) {
                                return laytpl(
                                    '<div><a target="_blank" data-video-player="{{d.xurl}}" data-tips-text="{:lang(\'播放视频\')}"><i class="layui-icon layui-icon-video"></i></a></div>'
                                ).render(d);
                            }
                            if (typeof d.mime === "string" && /^audio\//.test(d.mime)) {
                                return laytpl(
                                    '<div><a target="_blank" data-video-player="{{d.xurl}}" data-tips-text="{:lang(\'播放音频\')}"><i class="layui-icon layui-icon-headset"></i></a></div>'
                                ).render(d);
                            }
                            return laytpl(
                                '<div><i class="layui-icon layui-icon-file"></i></div>'
                            ).render(d);
                        },
                    },
                    // {
                    //     field: "isfast",
                    //     title: '{:lang("上传方式")}',
                    //     align: "center",
                    //     width: "8%",
                    //     templet: function (d) {
                    //         return d.isfast
                    //             ? '<b class="color-green">{:lang("秒传")}</b>'
                    //             : '<b class="color-blue">{:lang("普通")}</b>';
                    //     },
                    // },
                    // { field: 'ctype', title: '{:lang("存储方式")}', align: 'center', width: '10%' },
                    {
                        field: "create_at",
                        title: '{:lang("创建时间")}',
                        align: "center",
                        width: "15%",
                        sort: true,
                    },
                    {
                        toolbar: "#toolbar",
                        title: '{:lang("操作面板")}',
                        align: "center",
                        minWidth: 250,
                        fixed: "right",
                    },
                ],
            ],
        });
    });
</script>

<script type="text/html" id="toolbar">

  {if auth("pdf")}
  {{# if(d.xext!='pdf'){ }}
  <a
    class="layui-btn layui-btn-sm  layui-icon layui-icon-export"
    href="{:url('word/pdf')}?id={{d.id}}"
    data-title="导出PDF"
    >{:lang("导出PDF")}</a
  >
  {{# } }}
  {/if} 
  
  {if auth("edit")}
  <a
    class="layui-btn layui-btn-sm"
    data-modal="{:url('word/edit')}?id={{d.id}}"
    data-title="编辑文件信息"
    >{:lang("编 辑")}</a
  >
  {/if} {if auth("remove")}
  <a
    class="layui-btn layui-btn-sm layui-btn-danger"
    data-action="{:url('word/remove')}"
    data-value="id#{{d.id}}"
    >{:lang("删 除")}</a
  >
  {/if}
      {if auth("downloads")}
    <a
      class="layui-btn layui-btn-sm"
      href="{:url('word/downloads')}?id={{d.id}}"
      data-title="下载"
      >{:lang("下载")}</a
    >
    {/if}
</script>

{/block}